@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

$accent: #f4e041;
$accent2: #ffe302;
$accent3: #00bdd3;
$base-font-family: Nunito, sans-serif;
$base-font-color: rgba(0, 0, 0, 0.87);
$disabled: #b4b4b4;
$light: #ffffff;
$light2: rgba(255, 255, 255, 0.87);
$grey: #7e7e7e;
$lightgrey: #d0cfcf;
$bg-primary: #f8f8f8;
$error: #CB3D40;

$xl: 1170px;
$lg: 1024px;
$md: 768px;
$sm: 360px;
